<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Youtube Downloader</title>
    <link rel="icon" href="{{ url_for('static', filename='images/logo1.png') }}" type="image/icon type">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="/">
        <img src="{{ url_for('static', filename='images/logo1.png') }}" width="50" height="" alt="">
        YouTube Downloader
        </a>
    </nav><br><br><br>

    <img src="{{ url_for('static', filename='images/logo1.png') }}" width="200" height="" alt="" class="mx-auto d-block text-center">

    <h3 class="text-center mx-auto d-flex justify-content-center align-items-center text-muted">YouTube Downloader</h3>

    <div class="container">
        <form action="" method="POST">
        <div class="row height d-flex justify-content-center align-items-center" style="margin-top: -350px;">
            <div class="col-md-8">
                <div class="search"> <i class="fa fa-search"></i> <input type="text" class="form-control" required placeholder="Paste the video link here!" name="url"> <button type="submit" class="btn btn-primary">Search</button> </div>
            </div>
        </div>
    </form>
    </div>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>